/* Write your CSS here */
.duration-icon-container {
  display: flex;
  align-items: center;
}

.gi-icon {
  height: 18px;
  width: 18px;
}

.course-title {
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 22px;
}

.duration-head {
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 17px;
  margin-left: 8px;
}

.course-desc {
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 15px;
  width: 100%;
  max-width: 400px;
}

.list-tags-container {
  list-style-type: none;
}

.unorder-list-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  max-width: 400px;
  padding-left: 0px;
}
